body{
	padding: 30px
}
p{
	line-height: 10px;
}

.linetest11{
	color: white;
	position: absolute;
	top: 300;
	left: 330;
	height: 10;
	width: 100;
	border: 1px solid black ;
}

.linetest12{
	background-color: rgb(95,158,160);
	position: absolute;
	top: 301;
	left: 331;
	height: 10;
	width: 33;
	border: none;
}

.linetest21{
	color: white;
	position: absolute;
	top: 330;
	left: 330;
	height: 10;
	width: 100;
	border: 1px solid black ;
}

.linetest22{
	background-color: rgb(95,158,160);
	position: absolute;
	top: 331;
	left: 331;
	height: 10;
	width: 50;
	border: none;
}

.linetest31{
	color: white;
	position: absolute;
	top: 360;
	left: 330;
	height: 10;
	width: 100;
	border: 1px solid black ;
}

.linetest32{
	background-color: rgb(95,158,160);
	position: absolute;
	top: 361;
	left: 331;
	height: 10;
	width: 70;
	border: none;
}

.linetest41{
	color: white;
	position: absolute;
	top: 390;
	left: 330;
	height: 10;
	width: 100;
	border: 1px solid black ;
}

.linetest42{
	background-color: rgb(95,158,160);
	position: absolute;
	top: 391;
	left: 331;
	height: 10;
	width: 30;
	border: none;
}

.mainp{
	line-height: 20px;
	font-size: 20px;
	text-align: left;
}

.block{
	border: 1px solid black;
	max-width: 800px;
	margin: 0px auto ;
	height: 800px;
	position: relative;
}
.block div{
	line-height: 50px;
}
.block__1{
	background-color: white;
	text-align: center;
}
.block__2{
	background-color: cadetblue;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	color: white;

}
.block__3{
	background-color: cadetblue;
	max-height: 600px;
	position: absolute;
	top: 200;
	left: 0;
	font-size: 14px;
	text-align: left;
	margin: 5px;
	color: white;

}
